<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Forms</title>

    <style>
        #ulFound li {
            text-decoration: line-through;
            background-color: rgb(230, 230, 230);
        }

        .selClass {
            border: solid brown 4px;
            background-color: lightpink;
        }

        .impClass {
            font-weight: bolder;
        }

        .yelClass {
            background-color: rgb(255, 255, 136);
        }
    </style>
</head>

<body>
    <div id="app">
        <form @:submit.prevent="addItem">
            <p>
                What do you need?
                <input type="text" required placeholder="item name" v-model="itemName">
            </p>
            <p>
                How many?
                <input type="number" placeholder="number of items" v-model="itemNumber">
            </p>
            <p>
                Important item?
                <label>
                    <input type="checkbox" v-model="important">
                </label>
            </p>
            <button type="submit">Add item</button>
        </form>

        <div>
            <p>Shopping list:</p>
            <ul id="ulToFind">
                <li v-for="item in shoppingList" @:click="item.found=!item.found" v-show="!item.found">
                    {{ item.name }}, {{ item.number}}, {{ item.important}}, {{ item.found}}
                </li>
            </ul>
            <ul id="ulFound">
                <li v-for="item in shoppingList" @:click="item.found=!item.found" v-show="item.found">
                    {{ item.name }}, {{ item.number}}, {{ item.important}}, {{ item.found}}
                </li>
            </ul>
        </div>
        <div>
            <input type="text" v-model="inpText">
            <p>inpText value: "{{ inpText }}" </p>
        </div>

        <form @:submit.prevent="addItemToOrder">
            <p>
            <h4>Order here:</h4>
            <label>
                <input type="radio" required value="Dinner" v-model="itemType" name="rbgType">Dinner
            </label><br>
            <label>
                <input type="radio" required value="Drink" v-model="itemType" name="rbgType">Drink
            </label><br>
            <label>
                <input type="radio" required value="Dessert" v-model="itemType" name="rbgType">Dessert
            </label>
            </p>
            <p v-show="itemType">
                <label>
                    <select required v-model="itemName" @:change="newUrl">
                        <option value="" selected disabled>Select item</option>
                        <option v-for="item in preDefItems" :value="item.name" v-show="item.type===itemType"
                            :data-url="item.imgUrl">
                            {{ item.name }}
                        </option>
                    </select>
                </label>
            </p>
            <img width="100" :src="itemUrl">
            <p v-show="itemName">
                <input type="number" placeholder="How many?" v-model="itemNumber" required>
            </p>
            <button type="submit">Order</button>
        </form>
        <br>
        <hr>

        <div>
            <h4>Your order:</h4>
            <ul id="ulToFind">
                <li v-for="item in order">
                    {{ item.name }}, {{ item.number}} <img width="100" :src="item.url">
                </li>
            </ul>

            </ul>
        </div>

        <p>
            <input type="range" min="0" max="1" step="0.1" v-model="opacityVal"> {{opacityVal}} (opacity value)
        </p>
        <div>
            <div id="onTop" v-bind:style="{ backgroundColor: 'rgba(99,0,89,'+opacityVal+')' }">
                Drag the range input to change opacity here.
            </div>
        </div>

        <div v-for="(img, index) in images">
            <img width="100" v-bind:src="img.url" v-on:click="select(index)" v-bind:class="{selClass: img.sel}">
        </div>

        <div class="impClass" v-bind:class="{ yelClass: isYellow }">
            This div belongs to both 'impClass' and 'yelClass'.
        </div>
        <br />
        <div v-bind:class="{ yelClass: isYellow, impClass: isImportant }">
            This can belong to both 'impClass' and
            'yelClass' depending an the 'isYellow' and 'isImportant' Vue properties.
        </div>

        <div v-bind:style="{ backgroundColor: 'lightpink', 'font-weight': 'bolder' }">
            This div tag has pink background and bold text.
        </div>

        <div v-bind:class="[{ impClass: isImportant }, 'yelClass' ]">
            This div tag belongs to one or two classes depending on the isImportant property.
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    itemName: null,
                    itemNumber: null,
                    itemImportant: false,
                    shoppingList: [
                        { name: 'Tomatoes', number: 5, important: false, found: false },
                        { name: 'Bread', number: 1, important: false, found: false },
                        { name: 'Soap', number: 1, important: true, found: true }
                    ],
                    inpText: 'Initial text',
                    itemType: '',
                    itemUrl: '',
                    preDefItems: [
                        { name: 'Burrito', type: 'Dinner', imgUrl: '/assets/img_burrito.svg' },
                        { name: 'Pizza', type: 'Dinner', imgUrl: '/assets/img_pizza.svg' },
                        { name: 'Pho Soup', type: 'Dinner', imgUrl: '/assets/img_soup.svg' },
                        { name: 'Spaghetti', type: 'Dinner', imgUrl: '/assets/img_spaghetti.svg' },
                        { name: 'Fish', type: 'Dinner', imgUrl: '/assets/img_fish.svg' },
                        { name: 'Cake', type: 'Dessert', imgUrl: '/assets/img_cake.svg' },
                        { name: 'Rice', type: 'Dinner', imgUrl: '/assets/img_rice.svg' },
                        { name: 'Salad', type: 'Dinner', imgUrl: '/assets/img_salad.svg' },
                        { name: 'Coke', type: 'Drink', imgUrl: '/assets/img_soda.svg' },
                        { name: 'Green Soda', type: 'Drink', imgUrl: '/assets/img_greenSoda.svg' },
                        { name: 'Doughnut', type: 'Dessert', imgUrl: '/assets/img_doughnut.svg' },
                        { name: 'Ice Cream', type: 'Dessert', imgUrl: '/assets/img_iceCream.svg' },
                        { name: 'Lemonade', type: 'Drink', imgUrl: '/assets/img_lemonade.svg' },
                        { name: 'Pancakes', type: 'Dessert', imgUrl: '/assets/img_pancakes.svg' },
                        { name: 'Water', type: 'Drink', imgUrl: '/assets/img_water.svg' }
                    ],
                    order: [],
                    opacityVal: 0.5,
                    images: [
                        { url: '/assets/img_burrito.svg', sel: false },
                        { url: '/assets/img_salad.svg', sel: false },
                        { url: '/assets/img_cake.svg', sel: false },
                        { url: '/assets/img_soup.svg', sel: false },
                        { url: '/assets/img_fish.svg', sel: false },
                        { url: '/assets/img_pizza.svg', sel: false },
                        { url: '/assets/img_rice.svg', sel: false }
                    ],
                    isYellow: true,
                    isImportant: true
                }
            },
            methods: {
                addItem() {
                    let item = {
                        name: this.itemName,
                        number: this.itemNumber,
                        important: this.itemImportant,
                        found: false
                    }
                    this.shoppingList.push(item)
                    this.itemName = null
                    this.itemNumber = null
                    this.itemImportant = false
                },
                addItemToOrder() {
                    let item = {
                        name: this.itemName,
                        number: this.itemNumber,
                        url: this.itemUrl
                    }
                    this.order.push(item)
                    this.itemType = ''
                    this.itemName = ''
                    this.itemNumber = null
                    this.itemUrl = ''
                },
                newUrl(e) {
                    this.itemUrl = e.target.options[e.target.selectedIndex].getAttribute("data-url")
                },
                select(number) {
                    this.images[number].sel = !this.images[number].sel
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>